* {
    font-family: "Mulish", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header,
main {
    margin: auto 130px;
}


/* header section start */


/* nav section start */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 15px;
    padding-top: 10px;
}

ul {
    display: flex;
    align-items: center;
    gap: 45px;
}

.three-dot {
    display: none;
}

li {
    list-style-type: none;
}

.home {
    color: #ff5500cb;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid #ff5500cb;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    transition: all ease-in-out 1s;
}
.home:hover{
    color: #ff0000; 
    transition: all ease-in-out 1s;
    border-bottom: 2px solid #ff0000;
}

ul li a {
    text-decoration: none;
    color: #000;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all ease-in-out 1s;
    border-bottom: 2px solid #ff550000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a:hover {
    color: #FF5400;
    transition: all ease-in-out 1s;
    border-bottom: 2px solid #FF5400;
}

/* header banner section start */
.header-banner-container {
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-banner-title {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 25px;
    transition: all ease-in-out 1s;
}
.header-banner-title:hover {
    color: #FF5400;
    transition: all ease-in-out 1s;
    text-align: center;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 25px;
}

.header-banner-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px 100px;
    margin-bottom: 50px;
}

.input-btn-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.banner-input {
    border-radius: 8px;
    background: #FFF;
    margin: 16px 15px;
    padding: 10px 10px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    width: 150px;


}

.banner-input:focus {
    outline: none;
}

.input-text {
    border: none;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    transition: all ease-in-out 1.3s;
}
.btn-primary:hover{
    background: #ff0000;
    transition: all ease-in-out 1.3s;
}

.find-now-icon {
    margin-right: 20px;
}


/* main section start */
/*  our popular tour section start  */
.popular-tour-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.popular-tour-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.popular-tour-details-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}



.popular-tour-paragraph {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.li {
    margin-left: 10px;
    list-style-type: disc;
}

.btn-read-more {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    padding: 10px 10px;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    transition: all ease-in-out 1.2s;
}
.btn-read-more:hover {
    background: #ff0000;
    transition: all ease-in-out 1.2s;
}



/* choose your destination section start */
.choose-your-destination-container {
    display: flex;
    flex-direction: column;
}

.choose-your-destination-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.choose-your-destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 100px;
}

.choose-your-destination-img-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.img-container-1,
.img-container-2,
.img-container-3 {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 25px;

}

.mal {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 5.png'), lightgray 50% / cover no-repeat;
    height: 250px;
    width: 50%;

}

.indo {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 8.png'), lightgray 50% / cover no-repeat;
    height: 250px;
    width: 50%;

}

.sri {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 6.png'), lightgray 50% / cover no-repeat;
    height: 250px;
    width: 35%;

}

.n-a {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 7.png'), lightgray 50% / cover no-repeat;
    height: 250px;
    width: 40%;

}

.kas {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 9.png'), lightgray 50% / cover no-repeat;
    height: 250px;
    width: 25%;
    background-repeat: no-repeat;
    background-size: cover;

}

.bang {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 11.png'), lightgray 50% / cover no-repeat;
    height: 250px;
    width: 40%;

}

.band {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 10.png'), lightgray 50% / cover no-repeat;
    height: 250px;
    width: 60%;

}

.mal,
.indo,
.sri,
.n-a,
.kas,
.bang,
.band {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
}



/* best-holidays packages section start  */
.best-holiday-package-container {
    margin-top: 50px;
}

.holiday-package-title {
    color: #131318;
    font-family: Mulish;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.holiday-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.holiday-card-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 1px 1px 5px gray;
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
}

.card-img-container {
    width: 100%;
}

.card-holiday-img {
    width: 100%;
    border-radius: 10px;
}

.card-img-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.card-img-title {
    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    text-align: start;
    font-weight: 800;
    padding-bottom: 10px;
}

.card-img-sub-title {
    color: #131318;
    font-family: Mulish;
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 0px;
    margin-bottom: 25px;
}

.card-img-description {
    color: #131318;
    font-family: Mulish;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 0px;
    margin-bottom: 25px;
}



/* choose-us section start */
.choose-us-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.choose-us-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.choose-us-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 50px;
}

.choose-your-us-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card-container-1 {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px 50px 30px 30px;
}

.card-title {
    margin-top: 32px;
    margin-bottom: 16px;
}

.card-container-2 {
    width: calc(50% - 25px);
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px 50px 30px 30px;
}

.card-container-3 {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 30px 50px 30px 30px;
}




/*  our popular tour section start  */
.perfect-place-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
    width: 100%;
}

.perfect-place-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.perfect-place-details-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}



.perfect-place-paragraph {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.li {
    margin-left: 10px;
    list-style-type: disc;
}

.btn-read-more {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    padding: 10px 10px;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}

.perfect-place-img-container {
    width: 50%;

}

.perfect-place-img {
    width: 100%;
    border-radius: 10px;
}




/* newsletter and image section start */
.newsletter-and-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    margin-bottom: 50px;
}

.newsletter-container {
    width: 40%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.img-container {
    width: calc(60% - 25px);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-pro {
    width: 100%;
}



.newsletter-title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 15px;
}

.newsletter-description {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.banner-input-pro {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 15px;


    background-color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.horizontal {
    margin: 25px 0px;
    background: rgba(19, 19, 24, 0.10);
}

.subscribe {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
}

.card {
    position: absolute;
    right: 140px;
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-50deg);
    width: 250px;
    padding: 10px;
}

.card-top {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
}

.card-bottom {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}


/* footer section start */
.footer-container {
    background: rgba(19, 19, 24, 0.05);
}

.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 15px;
    padding-top: 110px;
}

.tour {
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    margin-left: 10px;
}

.footer-img {
    margin-right: 20px;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin: 15px 300px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

hr {
    margin: 50px 250px;
}

.paragraph {
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 110px;
}








/* responsive design for small devices */
@media screen and (max-width: 600px) {

    header,
    main {
        margin: auto 30px;
    }


    /* header section start */


    /* nav section start */
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;
    }

    .nav-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #131318;
        font-family: Mulish;
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 15px;
        padding-top: 10px;
    }



    ul {
        display: none;
        align-items: center;
        gap: 45px;
    }

    .three-dot {
        display: block;
    }




    /* header banner section start */
    .header-banner-container {
        height: 70vh;
        padding: 50px 0px;
    }

    .header-banner-title {
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .header-banner-description {
        color: #FFF;
        font-size: 1rem;
        font-weight: 400;
        margin: 0px 10px;
        margin-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .input-btn-container {
        flex-direction: column;
        width: 90%;
    }

    .banner-input {
        border-radius: 10px;
        background: #FFF;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
    }

    .btn-primary {
        border-radius: 8px;
        background: #FF5400;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 700;
    }


    /* main section start */
    /*  our popular tour section start  */
    .popular-tour-container {
        gap: 25px;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .popular-tour-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .popular-tour-details-title {
        font-size: 20px;
    }

    .popular-tour-details-description {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
    }

    .popular-tour-paragraph {
        font-size: 14px;
    }

    .li {
        margin-left: 10px;
    }

    .popular-tour-img {
        width: 100%;
    }




    /* choose your destination section start */
    .choose-your-destination-container {
        display: flex;
        flex-direction: column;


    }

    .choose-your-destination-title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .choose-your-destination-description {
        font-size: 14px;
        margin-bottom: 0px;
        padding: 0px 10px;
    }

    .choose-your-destination-img-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .img-container-1,
    .img-container-2,
    .img-container-3 {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 25px;

    }

    .mal,
    .indo,
    .sri,
    .n-a,
    .kas,
    .bang,
    .band {
        width: 100%;
    }




    /* best holiday package section start */
    .holiday-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }


    /* choose us section start */
    .choose-us-container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .choose-us-title {
        font-size: 20px;
    }

    .choose-us-description {
        font-size: 14px;
    }

    .choose-your-us-card-container {
        flex-direction: column;
    }

    .card-container-1,
    .card-container-2,
    .card-container-3 {
        width: 100%;
    }




    /*  our popular tour section start  */
    .perfect-place-container {
        gap: 25px;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .perfect-place-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

    .perfect-place-img-container {
        width: 100%;
    }

    .perfect-place-details-title {
        font-size: 20px;
    }

    .perfect-place-details-description {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
    }

    .perfect-place-paragraph {
        font-size: 14px;
    }

    .li {
        margin-left: 10px;
    }

    .perfect-place-img {
        width: 100%;
    }



    /* newsletter and image section start */
    .newsletter-and-img-container {
        flex-direction: column;
    }

    .newsletter-container {
        width: 100%;
    }

    .img-container {
        width: 100%;

    }

    .card {
        position: absolute;
        right: 1.5rem;
        border-radius: 16px;
        background: #FF5400;
        transform: rotate(-40deg);
        width: 200px;
        padding: 10px;
    }

    .card-top {
        font-size: 12px;
    }

    .card-bottom {
        font-size: 18px;
    }


    /* footer section start */
    .footer-container {
        background: rgba(19, 19, 24, 0.05);
    }

    .footer-title {
        font-size: 32px;
        padding-top: 30px;
    }

    .tour {
        font-size: 32px;
    }

    .footer-img {
        margin-right: 20px;
    }

    .footer-description {
        color: #5A5A5D;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        margin: 15px 50px;
    }

    .footer-icon {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 20px;
    }

    hr {
        margin: 25px 20px;
    }

    .paragraph {
        color: #131318;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        padding-bottom: 30px;
    }
}