* {
    font-family: "Mulish", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header,
main {
    margin: auto 130px;
}


/* header section start */
/* header banner section start */
.header-banner-container {
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-banner-title {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 25px;
}

.header-banner-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.input-btn-container {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.banner-input {
    border-radius: 8px;
    background: #FFF;
    margin: 16px 15px;
    padding: 10px 10px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    width: 150px;
}

.input-text {
    border: none;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}

.find-now-icon {
    margin-right: 20px;
}


/* main section start */
/*  our popular tour section start  */
.popular-tour-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.popular-tour-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.popular-tour-details-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.popular-tour-details-description {}

.popular-tour-paragraph {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.li {
    margin-left: 10px;
}

.btn-read-more{
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    padding: 10px 10px;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}
.popular-tour-img-container {}

.popular-tour-img {}


/* responsive design for small devices */
@media screen and (max-width: 600px) {

    header,
    main {
        margin: auto 30px;
    }


    /* header section start */
    /* header banner section start */
    .header-banner-container {
        height: 70vh;
        padding: 50px 0px;
    }

    .header-banner-title {
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .header-banner-description {
        color: #FFF;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .input-btn-container {
        flex-direction: column;
    }

    .banner-input {
        border-radius: 10px;
        background: #FFF;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
    }

    .btn-primary {
        border-radius: 8px;
        background: #FF5400;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 700;
    }


    /* main section start */
    /*  our popular tour section start  */
    /* .popular-tour-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-tour-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.popular-tour-details-title{

}
.popular-tour-details-description{

}
.popular-tour-paragraph{

}
.li{
    margin-left: 10px;
}
.popular-tour-img-container{

}
.popular-tour-img{

} */

}